<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Fix Crashing (Maybe on server restart) #12 -->
        <!-- https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.sendkeys.send?redirectedfrom=MSDN&view=netframework-4.8#System_Windows_Forms_SendKeys_Send_System_String_ -->
        <add key="SendKeys" value="SendInput"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>